:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --border-radius: 6px;
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}

/* Sign up */

.welcome {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.reg-form {
  margin: 40px auto;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  width: 1000px;
  display: flex;
  align-items: center;
  gap: 6.5%;
  position: relative;
}

.reg-form::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--secondary-color);
  left: 50%;
  transform: translate(-50%);
}
.reg-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.reg-form form input {
  margin: 10px;
  padding: 15px;
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: 30px;
  width: 350px;
  transition: 0.3s;
}
.reg-form form input[class="submit"] {
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-size: 20px;
  width: 200px;
}
.reg-form form input[class="submit"]:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
}
.reg-form form input::placeholder {
  color: var(--secondary-color);
  font-size: large;
}
.reg-form form input:focus {
  background-color: var(--main-color);
}
.reg-form form input:focus::placeholder {
  color: transparent;
}
.forgot-password {
  font-size: 18px;
  margin-top: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.new-account {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}
.new-account a {
  border-bottom: 2px solid var(--secondary-color);
  font-weight: bold;
}

/* 
    Signature idea

.logo {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    opacity: 0.5;
} */
